In [1]:
import sqlite3

In [2]:
con = sqlite3.connect('chinook.db')

In [3]:
cur = con.cursor()

In [ ]:
query = """SELECT name from sqlite_master where type = "table" """

In [ ]:
cur.execute(query)

In [ ]:
cur.fetchall()

In [ ]:
query = "SELECT * FROM employees"

In [ ]:
cur.execute(query)

In [ ]:
cur.fetchall()

In [ ]:
records = cur.fetchall()
print(len(records))
for record in records:
    print(record)

In [ ]:
records[1]

In [ ]:
con.close()

In [ ]:
import sqlite3
con = sqlite3.connect('sports.db')

In [ ]:
curb = con.cursor()

In [ ]:
q = "CREATE TABLE players (id integer PRIMARY KEY, name text, sport text, \
earn real, country text)"

In [ ]:
curb.execute(q)

In [ ]:
q = "INSERT into players (id, name, sport, earn, country) VALUES (?,?,?,?,?)"

In [ ]:
curb.execute(q, [14, 'senna', 'foruma1', 346780, 'brazil'])

In [ ]:
con.commit()

In [4]:
lista = [16, 'lebron', 'basketball', 408920, 'US']
listb = [20, 'smriti', 'cricket', 12054, 'india']
listc = [18, 'saina', 'badminton', 28230, 'india']

In [ ]:
tupa = (lista, listb, listc)

In [ ]:
listd = [22, 'ronaldo', 'football', 680234, 'portugal']

In [ ]:
curb.execute(q, listd)
con.commit()

In [ ]:
curb.executemany(q, tupa)
con.commit()

In [ ]:
q = "UPDATE players SET name = 'RON' where id = 22"

In [ ]:
curb.execute(q)
con.commit()

In [ ]:
q = "SELECT * FROM players"

In [ ]:
curb.execute(q)

In [ ]:
data = curb.fetchall()